*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,
ul,
menu{
    list-style-type: none;

}
.container{
    margin: 0 auto;
    max-width: 800px;
}
.logo-title{
    padding: 10px;
    
}
.title{
    display: inline;
    font-size: 50px;
    vertical-align: middle;
}
.logo{
    vertical-align: middle;
}
main{
    background-color: rgb(221, 221, 221);
}